 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 nav {
     display: flex;
     justify-content: space-between;
     color: #F1F5F9;
     background-color: #1E1B4B;
     align-items: center;
     background-image: linear-gradient(90deg, #7f7fd5, #86a8e7);
     padding: 1rem 3rem;
 }
 nav ul {
     display: flex;
     gap: 16px;
 }
 
 nav ul li {
     list-style-type: none;
 }
 
 nav ul li:hover, .logo:hover {
     color: #F5C97A;
     transition: color 0.3s ease;
     cursor: pointer;

 }
 
 .logo {
     font-weight: 700;
     letter-spacing: 0.5px;
 }